* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* scroll bar 樣式 */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-button {
    /* background: transparent; */
    /* border-radius: 4px; */
    height: 5px;
}
::-webkit-scrollbar-track-piece {
    /* background: transparent; */
    border-radius: 6px;
    background-color: rgba(225, 225, 225, 1);
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(180, 180, 180, 1);
    border: 1px solid slategrey;
}
::-webkit-scrollbar-track {
    box-shadow: transparent;
}
